* {
  box-sizing: border-box;
}

.iconSpan {
  margin-right: 15px;
}

/* Additional styling for the icons (adjust as needed) */
.socialList {
  display: flex;
}

/* Optional: Center the icons horizontally and vertically */
.socialList {
  align-items: center;
}

@media screen and (min-width: 769px) {
  .socialList {
    padding-top: 70px;
  }
}
@media screen and (min-width: 468px) {
  .socialList {
    padding-top: 70px;
  }
}
@media screen and (min-width: 1028px) {
  .socialList {
    padding-top: 70px;
  }
}
@media screen and (min-width: 1428px) {
  .socialList {
    padding-top: 70px;
  }
}
@media screen and (min-width: 468px) {
  .iconSpan {
    margin-right: 15px;
  }
}
@media screen and (min-width: 1028px) {
  .iconSpan {
    margin-right: 20px;
  }
}
@media screen and (min-width: 1428px) {
  .iconSpan {
    margin-right: 22px;
  }
}
